::deep .e-sidebar {
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    font-size: 1.5rem;
    padding: 3rem;
    color: darkslategrey;

    a {
        text-decoration: none;
        display: block;
        margin-top: 20px;
    }

    img {
        height: 150px;
    }
}

.app-title {
    font-size: 2.75rem;
    margin-bottom: 0;
}

.text-content {
    font-size: 1.5rem;
    padding: 3rem;
}

.build-info {
    font-size: x-small;
    font-weight: 500;
}

::deep .add-forecast-btn {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    height: 4em;
    width: 4em;
}

.sidebar-icons {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99999;
}
